     <div id="main">
            <div id="content">
                    <div class="validation-summary-errors">
        <ul id="popErrorsul">
        </ul>
    </div>
    <div class="validation-summary-warnings">
        <ul id="warningsul">
        </ul>
    </div>
    <div class="validation-summary-successes">
        <ul id="popSuccesssul">
        </ul>
    </div>

<div id="divOrderBomDetailList">
    @{
        Html.RenderAction("_OrderBomDetailList", "ProductionOrder", new { orderDetailId = ViewBag.OrderDetailId, OrderStatus = ViewBag.OrderStatus });
    }
</div>
