@model IEnumerable<com.Sconit.Entity.ORD.OrderMaster>
<fieldset>
    <script type="text/javascript">
        $(function () {
            $("#checkAll").click(function () {
                $('input[name="checkedRecords"]').attr("checked", this.checked);
                showButtons();
            });
            var $checkedRecords = $("input[name='checkedRecords']");
            $checkedRecords.click(function () {
                $("#checkAll").attr("checked", $checkedRecords.length == $("input[name='checkedRecords']:checked").length ? true : false);
            });
        });

        function showButtons() {
            var $checkRecords = $("input[name='checkedRecords']");

            var statusArr = new Array();
            for (var i = 0; i < $checkRecords.length; i++) {
                if ($checkRecords[i].checked) {
                    var status = $checkRecords[i].attributes["statusValue"].value;
                    if ($.inArray(status, statusArr) == -1) {
                        statusArr.push(status);
                    }
                }
            }

                $("#checkAll").attr("checked", $checkRecords.length == $("input[name='checkedRecords']:checked").length ? true : false);

            $("#btnDelete").attr("style", statusArr.length > 0 && statusArr.toString() == 0 ? "display:inline" : "display:none");
            $("#btnSubmit").attr("style", statusArr.length > 0 && statusArr.toString() == 0 ? "display:inline" : "display:none");
            $("#btnCancel").attr("style", statusArr.length > 0 && statusArr.toString() == 1 ? "display:inline" : "display:none");
            $("#btnClose").attr("style", statusArr.length > 0 && statusArr.toString() == 2 ? "display:inline" : "display:none");
            $("#btnPrint").attr("style", statusArr.length > 0 ? "display:inline" : "display:none");
            $("#btnExport").attr("style", statusArr.length > 0 ? "display:inline" : "display:none");
        }

    </script>
    @(Html.Telerik().Grid(Model)
        .Name("OrderMasterGrid")
        .DataKeys(keys =>
        {
            keys.Add(p => p.OrderNo);
        })
        .Columns(columns =>
        {
            columns.Bound(o => o.CheckOrderNo)
                .ClientTemplate("<input type='checkbox' id='checkedRecords' name='checkedRecords' value='<#= OrderNo #>' onClick='showButtons()' statusValue='<#= Status #>'  />")
                .HeaderTemplate("<input type='checkbox' id='checkAll' name='checkAll' />")
                .Width(36).HtmlAttributes(new { style = "text-align:center" });
            columns.Bound(o => o.OrderNo);
            columns.Bound(o => o.Flow).Title(@Resources.ORD.OrderMaster.OrderMaster_Flow_Production).ClientTemplate("<div title=<#=FlowDescription #>><#=Flow #></div>");
            columns.Bound(o => o.OrderTypeDescription);
            columns.Bound(o => o.OrderPriorityDescription);
            columns.Bound(o => o.PartyFromName).Title(@Resources.ORD.OrderMaster.OrderMaster_PartyFromName_Production);
            columns.Bound(o => o.StartTime);
            columns.Bound(o => o.WindowTime);
            columns.Bound(o => o.OrderStatusDescription);
            columns.Bound(o => o.CreateUserName);
        })

        .Scrollable(c => c.Enabled(false))
        .EnableCustomBinding(true)
        .DataBinding(dataBinding => dataBinding.Ajax().Select("_AjaxBatchProcessList", "ProductionOrder"))
                .ClientEvents(events => events.OnDataBinding("OrderMasterGrid_OnDataBinding"))
        .Pageable(settings =>
        {
            settings.Total(ViewBag.Total == null ? 0 : ViewBag.Total);
            settings.PageSize(ViewBag.PageSize);
        })
        .Sortable()
        .Resizable(resizing => resizing.Columns(true))
    )
    <script type="text/javascript">
        function OrderMasterGrid_OnDataBinding(e) {
            $('input[name="checkAll"]').attr("checked", false);
            e.data = {
                OrderNo: $('#OrderNo').val(),
                Flow: $('#Flow').val(),
                PartyFrom: $('#PartyFrom').val(),
                PartyTo: $('#PartyTo').val(),
                DateFrom: $('#DateFrom').val(),
                DateTo: $('#DateTo').val(),
                Status: $('#Status').val(),
                CreateUserName: $('#CreateUserName').val(),
                Priority: $('#Priority').val()
            };
        }
    </script>
</fieldset>
