<meta http-equiv="Refresh" content="300">
@{
    @(Html.Telerik().ScriptRegistrar().Globalization(true)
        .DefaultGroup(group => group.Combined(true).Compress(true)))
    Layout = "~/Views/Shared/_Main.cshtml";
}
<style type="text/css">
    body {
        background-color: #FFFFFF;
        padding: 0;
        margin: 0;
    }

    body, html {
        height: 100%;
    }

    #outer {
        height: 100%;
        overflow: hidden;
        position: relative;
        width: 100%;
    }

        #outer[id] {
            display: table;
            position: static;
        }

    #middle {
        position: absolute;
        top: 50%;
    }
        /* for explorer only*/
        #middle[id] {
            display: table-cell;
            vertical-align: middle;
            position: static;
        }

    #inner {
        position: relative;
        top: -50%;
        width: 400px;
        margin: 0 auto;
    }
</style>
<script type="text/javascript">
    var flag = false;
    function shift_status() {
        //alert("aaa");
        var mainFrame = top.document.getElementsByName("mainframeset")[0];
        if (flag) {
            if (screen.width > 1024) {
                mainFrame.cols = "220,12,*";
            } else if (screen.width > 800) {
                mainFrame.cols = "220,12,*";
            } else {
                mainFrame.cols = "200,12,*";
            }
            //document.getElementById("menuSwitch1").src='Images/Nav/Spacer.gif';
            //document.getElementById("menuSwitch1").title='隐藏';
            document.getElementById("hideImg").src = '/Content/Images/Main/vs-collapse.gif';
            document.getElementById("hideImg").title = 'Collapse';
            document.getElementById("hideImg").alt = 'Collapse';
        }
        else {
            //parent.main.cols = "0,9,*";
            mainFrame.cols = "0,12,*";
            //document.getElementById("menuSwitch1").src='Images/Nav/Spacer.gif';
            //document.getElementById("menuSwitch1").title='显示';
            document.getElementById("hideImg").src = '/Content/Images/Main/vs-expand.gif';
            document.getElementById("hideImg").title = 'Expand';
            document.getElementById("hideImg").alt = 'Expand';
        }
        flag = !flag;
    }
    jQuery(document).click(function () { shift_status(); });
    //$("#main").hide();
</script>
<div id="outer">
    <div id="middle">
        <div id="inner" >
            <img id="hideImg" style="cursor: pointer" alt="Collapse" src="/Content/Images/Main/vs-collapse.gif" title="Collapse">
        </div>
    </div>
</div>
