<%@ CodeTemplate Language="C#" TargetLanguage="C#" Description="Generate the entity class." %>
<%@ Property Name="NameSpace" Type="String" Default="com.Sconit" Category="EntityClass" Description="The assembly that contains the entity class." %>
<%@ Property Name="ClassName" Type="String" Category="EntityClass" Description="The entity class name." %>
<%@ Property Name="ModuleName" Type="String" Category="ModuleGroup" Description="The module group which contains the entity, for example, Security." %>
using System;
using System.Collections;
using System.Collections.Generic;
using System.Text;
using Castle.Facilities.NHibernateIntegration;

//TODO: Add other using statmens here.

namespace <%=this.NameSpace%>.Persistence.<%=this.ModuleName%>.NH
{
    public class NH<%=ClassName%>Dao : NH<%=ClassName%>BaseDao, I<%=ClassName%>Dao
    {
        public NH<%=ClassName%>Dao(ISessionManager sessionManager)
            : base(sessionManager)
        {
        }

        #region Customized Methods

        //TODO: Add other methods here.

        #endregion Customized Methods
    }
}
