@{
    ViewBag.Title = "403";
}
<div style="margin-top: 50px; width: 100%;">
    <div class="error-layout-message">
        <div class="validation-summary-errors" style="padding-top: 15px; padding-left: 250px;
            font-size: 1.2em;">@Resources.ErrorMessage.Errors_403</div>
    </div>
    <div class="error-layout-summary">
        <div class="error-layout-summary-content">
            Unauthorized 403</div>
    </div>
</div>