<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="NVelocityTemplateRepository"
            type="com.Sconit.Utility.NVelocityTemplateRepository, com.Sconit.Utility" lifestyle="Singleton">
      <parameters>
        <templateDirectory>#{NVelocityTemplateDirectory}</templateDirectory>
        <templateNameDictionary>
          <dictionary keyType="System.Int32, mscorlib" valueType="System.String, mscorlib">
            <!--MasterData-->
            <entry key="10101">ImportMasterData.htm</entry>
            <entry key="10102">ImportMasterData.htm</entry>
            <entry key="10103">ImportMasterData.htm</entry>
            <entry key="10104">ImportMasterData.htm</entry>
            
            <entry key="10201">ImportMasterData.htm</entry>
            <entry key="10202">ImportMasterData.htm</entry>
            <entry key="10203">ImportMasterData.htm</entry>
            <entry key="10204">ImportMasterData.htm</entry>

            <!--ProdOrder-->
            <entry key="10301">ImportProdOrder.htm</entry>
            <entry key="10302">ImportProdOrder.htm</entry>
            <entry key="10303">ImportProdOrder.htm</entry>
            <entry key="10304">ImportProdOrder.htm</entry>

            <!--ProdBom-->
            <entry key="10401">ImportProdBom.htm</entry>
            <entry key="10402">ImportProdBom.htm</entry>
            <entry key="10403">ImportProdBom.htm</entry>
            <entry key="10404">ImportProdBom.htm</entry>
            <entry key="10405">ImportProdBom.htm</entry>

            <!--ProcOrder-->
            <entry key="10501">ImportProcOrder.htm</entry>
            <entry key="10502">ImportProcOrder.htm</entry>
            <entry key="10503">ImportProcOrder.htm</entry>
            <entry key="10504">ImportProcOrder.htm</entry>
            <entry key="10510">ImportProcOrder.htm</entry>

            <!--Quota-->
            <entry key="10601">ImportQuota.htm</entry>
            <entry key="10602">ImportQuota.htm</entry>
            <entry key="10603">ImportQuota.htm</entry>
            <entry key="10604">ImportQuota.htm</entry>
            <entry key="10605">ImportQuota.htm</entry>
            <entry key="10606">ImportQuota.htm</entry>
            
            <!--Trans-->
            <entry key="10701">ExportTrans.htm</entry>
            <entry key="10702">ExportTrans.htm</entry>
            <entry key="10703">ExportTrans.htm</entry>
            <entry key="10704">ExportTrans.htm</entry>
            <entry key="10705">ExportTrans.htm</entry>
            <entry key="10706">ExportTrans.htm</entry>
            <entry key="10707">ExportTrans.htm</entry>

            <entry key="10801">ReportProdOrder.htm</entry>
            <entry key="10802">ReportProdOrder.htm</entry>
            <entry key="10803">ReportProdOrder.htm</entry>
            
            <entry key="10901">Common.htm</entry>
            <entry key="10902">Common.htm</entry>
            
            <entry key="11101">Common.htm</entry>
            <entry key="11102">Common.htm</entry>
            <entry key="11103">Common.htm</entry>
            <entry key="11104">Common.htm</entry>
            <entry key="11105">Common.htm</entry>
            <entry key="11106">Common.htm</entry>
            <entry key="11107">Common.htm</entry>
            <entry key="11108">Common.htm</entry>
            <entry key="11109">Common.htm</entry>
            <entry key="11110">Common.htm</entry>
            <entry key="11111">Common.htm</entry>
            <entry key="11112">Common.htm</entry>
            <entry key="11113">Common.htm</entry>

            <entry key="11201">Common.htm</entry>
            <entry key="11202">Common.htm</entry>
            <entry key="11203">Common.htm</entry>
            <entry key="11204">Common.htm</entry>
            <entry key="11205">Common.htm</entry>
            <entry key="11206">Common.htm</entry>
            <entry key="11207">Common.htm</entry>
            <entry key="11208">Common.htm</entry>
            <entry key="11209">Common.htm</entry>
            
            <entry key="20101">LeanEngineCreateOrderError.htm</entry>
          </dictionary>
        </templateNameDictionary>
      </parameters>
    </component>
  </components>
</configuration>