<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <components>
        <component id="EmailMgr.service"
           service="com.Sconit.Service.IEmailMgr, com.Sconit.Service"
           type="com.Sconit.Service.Impl.EmailMgrImpl, com.Sconit.Service" lifestyle="Singleton">
            <parameters>
                <userName>#{ExchangeUserName}</userName>
                <userPassword>#{ExchangeUserPassword}</userPassword>
                <senderNo>#{ExchangeSenderNo}</senderNo>
                <isOneByOne>#{ExchangeIsOneByOne}</isOneByOne>
            </parameters>
        </component>

        <component id="genericeMgr"
            service="com.Sconit.Service.IGenericMgr, com.Sconit.Service"
            type="com.Sconit.Service.Impl.GenericMgrImpl, com.Sconit.Service" lifestyle="Singleton">
            <parameters>
                <dao>${mainDao}</dao>
            </parameters>
        </component>

        <component id="queryMgr"
           service="com.Sconit.Service.IQueryMgr, com.Sconit.Service"
           type="com.Sconit.Service.Impl.QueryMgrImpl, com.Sconit.Service" lifestyle="Singleton">
            <parameters>
                <queryDao>${subDao}</queryDao>
            </parameters>
        </component>

        <component id="siMgr"
           service="com.Sconit.Service.IGenericMgr, com.Sconit.Service"
            type="com.Sconit.Service.Impl.GenericMgrImpl, com.Sconit.Service" lifestyle="Singleton">
            <parameters>
                <dao>${siDao}</dao>
                <sqlDao>${siDBDao}</sqlDao>
            </parameters>
        </component>

        <component id="masterDataMgr"
           service="com.Sconit.Service.SAP.IMasterDataMgr, com.Sconit.Service.SAP"
            type="com.Sconit.Service.SAP.Impl.MasterDataMgrImpl, com.Sconit.Service.SAP" lifestyle="Singleton">
            <parameters>
                <lesMgr>${genericeMgr}</lesMgr>
                <siMgr>${siMgr}</siMgr>
            </parameters>
        </component>

        <component id="transMgr"
           service="com.Sconit.Service.SAP.ITransMgr, com.Sconit.Service.SAP"
            type="com.Sconit.Service.SAP.Impl.TransMgrImpl, com.Sconit.Service.SAP" lifestyle="Singleton">
            <parameters>
                <lesMgr>${genericeMgr}</lesMgr>
                <siMgr>${siMgr}</siMgr>
            </parameters>
        </component>

        <component id="productionMgr"
          service="com.Sconit.Service.SAP.IProductionMgr, com.Sconit.Service.SAP"
           type="com.Sconit.Service.SAP.Impl.ProductionMgrImpl, com.Sconit.Service.SAP" lifestyle="Singleton">
            <parameters>
                <lesMgr>${genericeMgr}</lesMgr>
                <siMgr>${siMgr}</siMgr>
            </parameters>
        </component>

        <component id="vanOrderMgr"
        service="com.Sconit.Service.SAP.IVanOrderMgr, com.Sconit.Service.SAP"
         type="com.Sconit.Service.SAP.Impl.VanOrderMgrImpl, com.Sconit.Service.SAP" lifestyle="Singleton">
            <parameters>
                <lesMgr>${genericeMgr}</lesMgr>
                <siMgr>${siMgr}</siMgr>
            </parameters>
        </component>

        <component id="procurementMgr"
       service="com.Sconit.Service.SAP.IProcurementMgr, com.Sconit.Service.SAP"
        type="com.Sconit.Service.SAP.Impl.ProcurementMgrImpl, com.Sconit.Service.SAP" lifestyle="Singleton">
            <parameters>
                <lesMgr>${genericeMgr}</lesMgr>
                <siMgr>${siMgr}</siMgr>
            </parameters>
        </component>

      <component id="distributionMgr"
       service="com.Sconit.Service.SAP.IDistributionMgr, com.Sconit.Service.SAP"
        type="com.Sconit.Service.SAP.Impl.DistributionMgrImpl, com.Sconit.Service.SAP" lifestyle="Singleton">
        <parameters>
          <lesMgr>${genericeMgr}</lesMgr>
          <siMgr>${siMgr}</siMgr>
        </parameters>
      </component>

        <component id="quotaMgr"
       service="com.Sconit.Service.SAP.IQuotaMgr, com.Sconit.Service.SAP"
        type="com.Sconit.Service.SAP.Impl.QuotaMgrImpl, com.Sconit.Service.SAP" lifestyle="Singleton">
            <parameters>
                <lesMgr>${genericeMgr}</lesMgr>
                <siMgr>${siMgr}</siMgr>
            </parameters>
        </component>


    </components>
</configuration>