<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <components>
        <component id="LeanEngine.service"
           service="com.Sconit.Service.SI.ILeanEngineMgr, com.Sconit.Service.SI"
           type="com.Sconit.Service.SI.Impl.LeanEngineMgrImpl, com.Sconit.Service.SI" lifestyle="Singleton">
            <parameters>
                <lesGenericMgr>${genericeMgr}</lesGenericMgr>
                <siGenericMgr>${siMgr}</siGenericMgr>
            </parameters>
        </component>
    </components>
</configuration>