<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <facilities>
    <facility id="nhibernate" type="Castle.Facilities.NHibernateIntegration.NHibernateFacility, Castle.Facilities.NHibernateIntegration" DefaultFlushMode="Commit" isWeb="true">
      <factory id="nhibernate.factory" alias="main">
        <settings>
          <item key="connection.provider">
            NHibernate.Connection.DriverConnectionProvider
          </item>
          <item key="connection.driver_class">
            NHibernate.Driver.SqlClientDriver
          </item>
          <item key="connection.connection_string">
            #{mainConnectionString}
          </item>
          <item key="dialect">
            NHibernate.Dialect.MsSql2005Dialect
          </item>
          <item key="proxyfactory.factory_class">
            NHibernate.ByteCode.Castle.ProxyFactoryFactory,NHibernate.ByteCode.Castle
          </item>
          <item key="show_sql">
            true
          </item>
          <item key="command_timeout">
            300
          </item>
          <item key="cache.use_query_cache">
            false
          </item>
          <item key="cache.use_second_level_cache">
            false
          </item>
          <item key="cache.provider_class">
            NHibernate.Caches.Prevalence.PrevalenceCacheProvider, NHibernate.Caches.Prevalence
          </item>
          <item key="prevalenceBase">
            C:\logs\Sconit5\Cache\SI\main\prevalenceCache
          </item>
        </settings>
        <assemblies>
          <assembly>com.Sconit.Entity</assembly>
          <assembly>com.Sconit.Entity.MRP</assembly>
        </assemblies>
      </factory>
      <factory id="nhibernate.readonly.factory" alias="sub">
        <settings>
          <item key="connection.provider">
            NHibernate.Connection.DriverConnectionProvider
          </item>
          <item key="connection.driver_class">
            NHibernate.Driver.SqlClientDriver
          </item>
          <item key="connection.connection_string">
            #{subConnectionString}
          </item>
          <item key="dialect">
            NHibernate.Dialect.MsSql2005Dialect
          </item>
          <item key="proxyfactory.factory_class">
            NHibernate.ByteCode.Castle.ProxyFactoryFactory,NHibernate.ByteCode.Castle
          </item>
          <item key="show_sql">
            true
          </item>
          <item key="command_timeout">
            300
          </item>
          <!--<item key="cache.use_query_cache">
            false
          </item>
          <item key="cache.use_second_level_cache">
            false
          </item>
          <item key="cache.provider_class">
            NHibernate.Caches.Prevalence.PrevalenceCacheProvider, NHibernate.Caches.Prevalence
          </item>
          <item key="prevalenceBase">
            C:\logs\Sconit5\Cache\SI\sub\prevalenceCache
          </item>-->
        </settings>
        <assemblies>
          <assembly>com.Sconit.Entity</assembly>
          <assembly>com.Sconit.Entity.MRP</assembly>
        </assemblies>
      </factory>
      <factory id="nhibernate.si.factory" alias="si">
        <settings>
          <item key="connection.provider">
            NHibernate.Connection.DriverConnectionProvider
          </item>
          <item key="connection.driver_class">
            NHibernate.Driver.SqlClientDriver
          </item>
          <item key="connection.connection_string">
            #{siConnectionString}
          </item>
          <item key="dialect">
            NHibernate.Dialect.MsSql2005Dialect
          </item>
          <item key="proxyfactory.factory_class">
            NHibernate.ByteCode.Castle.ProxyFactoryFactory,NHibernate.ByteCode.Castle
          </item>
          <item key="show_sql">
            true
          </item>
          <item key="command_timeout">
            300
          </item>
          <!--<item key="cache.use_query_cache">
            false
          </item>
          <item key="cache.use_second_level_cache">
            false
          </item>
          <item key="cache.provider_class">
            NHibernate.Caches.Prevalence.PrevalenceCacheProvider, NHibernate.Caches.Prevalence
          </item>
          <item key="prevalenceBase">
            C:\logs\Sconit5\Cache\SI\prevalenceCache
          </item>-->
        </settings>
        <assemblies>
          <assembly>com.Sconit.Entity.SI</assembly>
          <assembly>com.Sconit.Entity.EDI</assembly>
          <assembly>com.Sconit.Entity.SAP</assembly>
        </assemblies>
      </factory>
    </facility>
  </facilities>
</configuration>
