<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <properties>
    <mainConnectionString>
      <!--Server=localhost;Database=Sconit5_ShenYa;uid=sconittest;pwd=sconittest;-->
      Server=10.166.1.41;Database=sconit_test;uid=sconit;pwd=sconit.com;
    </mainConnectionString>
    <subConnectionString>
      <!--Server=localhost;Database=Sconit5_ShenYa;uid=sconittest;pwd=sconittest;-->
      Server=10.166.1.41;Database=sconit_test;uid=sconit;pwd=sconit.com;
    </subConnectionString>
    <siConnectionString>
      <!--Server=10.166.1.41;Database=sconit_test;uid=sconit_test;pwd=sconit.com;-->
      <!--Server=.;Database=sconit5-shengyabak;uid=sa;pwd=yanke;-->
    </siConnectionString>
    <NVelocityTemplateDirectory>D:\Source\Sconit\Sconit5\branch\Sconit5.0.0\src\SI.5.0.0\Web.SI\Resource\Templates\NVelocity\</NVelocityTemplateDirectory>
    <ExchangeUserName>SEMAIL2</ExchangeUserName>
    <ExchangeUserPassword>SENDEMAILV2PASSWORD</ExchangeUserPassword>
    <ExchangeSenderNo>4</ExchangeSenderNo>
    <ExchangeIsOneByOne>False</ExchangeIsOneByOne>
  </properties>
</configuration>