@{
    ViewBag.Title = "申雅密封件有限公司SAP-MES";
    Layout = "~/Views/Shared/_Default.cshtml";
}
@section HeadContent {
    <title>申雅密封件有限公司SAP-MES</title>
    <script language="javascript" type="text/javascript">
        if (top.location !== self.location) {
            top.location = self.location;
        }
    </script>
}
<frameset framespacing="0" rows="51,*" frameborder="NO">
	<FRAME name="topFrame" src="Top" scrolling=no>
		<FRAMESET id="mainframeset" name="mainframeset" frameSpacing="0" frameBorder="NO" cols="220,12,*" scrolling="no">
			<FRAME id="Nav" name="Nav" src="Nav" scrolling="auto" target="right">
		<FRAME name="Switch" src="Switch" frameBorder="no" noResize scrolling="no">
		<FRAME name="right" src="" scrolling="auto">
		</FRAMESET>
</frameset>
