<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="mainDBDao"
       service="com.Sconit.Persistence.ISqlDao, com.Sconit.Persistence"
       type="com.Sconit.Persistence.SqlDao, com.Sconit.Persistence" lifestyle="Singleton">
      <parameters>
        <ConnectionString>#{mainConnectionString}</ConnectionString>
      </parameters>
    </component>

    <component id="queryDBDao"
       service="com.Sconit.Persistence.ISqlQueryDao, com.Sconit.Persistence"
       type="com.Sconit.Persistence.SqlQueryDao, com.Sconit.Persistence" lifestyle="Singleton">
      <parameters>
        <ConnectionString>#{mainConnectionString}</ConnectionString>
      </parameters>
    </component>

    <component id="mainDao"
          service="com.Sconit.Persistence.INHDao, com.Sconit.Persistence"
          type="com.Sconit.Persistence.NHDao, com.Sconit.Persistence" lifestyle="Singleton">
      <parameters>
        <sessionFactoryAlias>main</sessionFactoryAlias>
      </parameters>
    </component>

    <component id="subDao"
        service="com.Sconit.Persistence.INHQueryDao, com.Sconit.Persistence"
        type="com.Sconit.Persistence.NHQueryDao, com.Sconit.Persistence" lifestyle="Singleton">
      <parameters>
        <sessionFactoryAlias>main</sessionFactoryAlias>
      </parameters>
    </component>

    <component id="siDao"
    service="com.Sconit.Persistence.INHDao, com.Sconit.Persistence"
    type="com.Sconit.Persistence.NHDao, com.Sconit.Persistence" lifestyle="Singleton">
      <parameters>
        <sessionFactoryAlias>si</sessionFactoryAlias>
      </parameters>
    </component>

    <component id="siDBDao"
       service="com.Sconit.Persistence.ISqlDao, com.Sconit.Persistence"
       type="com.Sconit.Persistence.SqlDao, com.Sconit.Persistence" lifestyle="Singleton">
      <parameters>
        <ConnectionString>#{siConnectionString}</ConnectionString>
      </parameters>
    </component>

  </components>
</configuration>