<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="EmailMgr.service"
       service="com.Sconit.Service.IEmailMgr, com.Sconit.Service"
       type="com.Sconit.Service.Impl.EmailMgrImpl, com.Sconit.Service" lifestyle="Singleton">
      <parameters>
        <userName>#{ExchangeUserName}</userName>
        <userPassword>#{ExchangeUserPassword}</userPassword>
        <domainName>#{ExchangeDomain}</domainName>
      </parameters>
    </component>

    <component id="genericeMgr"
        service="com.Sconit.Service.IGenericMgr, com.Sconit.Service"
        type="com.Sconit.Service.Impl.GenericMgrImpl, com.Sconit.Service" lifestyle="Singleton">
      <parameters>
        <dao>${mainDao}</dao>
      </parameters>
    </component>

    <component id="queryMgr"
       service="com.Sconit.Service.IQueryMgr, com.Sconit.Service"
       type="com.Sconit.Service.Impl.QueryMgrImpl, com.Sconit.Service" lifestyle="Singleton">
      <parameters>
        <queryDao>${subDao}</queryDao>
      </parameters>
    </component>

    <component id="securityMgr"
      service="com.Sconit.Service.ISecurityMgr, com.Sconit.Service"
      type="com.Sconit.Service.Impl.SecurityMgrImpl, com.Sconit.Service" lifestyle="Singleton">
      <parameters>
        <LDAPPath>#{LDAPPath}</LDAPPath>
      </parameters>
    </component>

    <component id="siMgr"
       service="com.Sconit.Service.IGenericMgr, com.Sconit.Service"
        type="com.Sconit.Service.Impl.GenericMgrImpl, com.Sconit.Service" lifestyle="Singleton">
      <parameters>
        <dao>${siDao}</dao>
        <sqlDao>${siDBDao}</sqlDao>
      </parameters>
    </component>

  </components>
</configuration>