<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <properties>
    <mainConnectionString>
      Server=10.166.1.85;Database=Sconit_20141111;uid=sconit;pwd=sconit.com;
      <!--Server=localhost;Database=Sconit5_ShenYa;uid=sconittest;pwd=sconittest;-->
    </mainConnectionString>
    <subConnectionString>
      <!--Server=10.166.1.41;Database=sconit_test;uid=sconit_test;pwd=sconit.com;-->
      <!--Server=localhost;Database=Sconit5_ShenYa;uid=sconittest;pwd=sconittest;-->
    </subConnectionString>
    <siConnectionString>
      Server=10.166.1.85;Database=Sconit_20140509;uid=sconit;pwd=sconit.com;
      <!--Server=localhost;Database=Sconit5_SI_ShenYa;uid=sconittest;pwd=sconittest;-->
    </siConnectionString>
    <ReportTemplateFolder>D:\GIT\Sconit\Sconit5\branch\Shenya\src\WebApp.5.0.0\WebApp\Resource\Templates\Excel\</ReportTemplateFolder>
    <ReportTemporaryFolder>D:\temp\</ReportTemporaryFolder>
    <NVelocityTemplateDirectory>D:\GIT\Sconit\Sconit5\branch\Shenya\src\WebApp.5.0.0\WebApp\Resource\Templates\NVelocity\</NVelocityTemplateDirectory>
    <ExchangeUserName>mesadmin</ExchangeUserName>
    <ExchangeUserPassword>Mes.2012</ExchangeUserPassword>
    <ExchangeDomain>shenya.com</ExchangeDomain>
    <LDAPPath>LDAP://shenya.com</LDAPPath>
</properties>
</configuration>
