@{
    ViewBag.Title = Resources.ORD.OrderMaster.OrderMaster_OrderNo;
    Html.RenderAction("_SiteMapPath", "Common", new { MenuContent = "Url_Production_MaterialIn_FeedOrderMaster" });
}
@model com.Sconit.Entity.ORD.OrderMaster
<script type="text/javascript">

    function onOrderChange(e) {
        var combobox = $(this).data("tComboBox");
        if (combobox == undefined) {
            return;
        }
     if (combobox.selectedIndex == undefined || combobox.selectedIndex == -1) {
         combobox.value("");
         combobox.reload();
         $("#divFeedQtyDeatil").hide();
     }
     else {
         var data = { "OrderNo": $("#OrderNo").val() };
         $.ajax({
             type: "get",
             dataType: "html",
             url: "/ProductionOrder/_FeedQtyDetailList/",
             data: data,
             cache: false,
             success: function (data, textStatus) {
                 $("#divFeedQtyDeatil").html(data);
                 $("#divFeedQtyDeatil").show();

             },
             error: function (XMLHttpRequest, textStatus, errorThrown) {
                 alert(errorThrown);
             }
         });
     }
    }
    function onSubmit(e) {
        var grid = $("#OrderBomDetail").data("tGrid");
        var inserted = grid.changeLog.inserted;
        var updated = $.grep(grid.changeLog.updated, function (value) { return value != undefined });
        var deleted = $.grep(grid.changeLog.deleted, function (value) { return value != undefined });

        var orderBomDetails = grid.changeLog.serialize(inserted, updated, deleted);
        var orderMaster = {
            "OrderNo": $("#OrderNo").val()
        }
        grid._convert(orderBomDetails);
        $.ajax({
            type: "post",
            dataType: "Json",
            url: "/ProductionOrder/FeedQty/",
            data: $.extend(orderBomDetails, orderMaster),
            success: function (data) {
                $message.success(data.SuccessMessage);
               
                $.ajax({
                    type: "post",
                    dataType: "html",
                    url: "/ProductionOrder/_FeedQtyDetailList/",
                    data:{
                        "orderNo": $("#OrderNo").val()
                    },
                    cache: false,
                    success: function (data, textStatus) {
                        var $tGrid = $("#divFeedQtyDeatil");
                        $($tGrid).html(data);
                    }
                });
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                var errorMessages = XMLHttpRequest.responseText;
                
                $message.error(errorMessages);
            }
        });
    }
</script>
@using (Html.BeginForm())
{
    <fieldset>
        <div class="editor">
            <div class="editor-label-2">
                @Html.LabelFor(model => model.OrderNo)
            </div>
            <div class="editor-field-2">
                @{
    Html.RenderAction("_OrderComboBox", "Common", new { controlName = "OrderNo", canFeed = true, orderType = (int)com.Sconit.CodeMaster.OrderType.Production, isChange = true });
                }
            </div>
      
        
        </div>

        <div class="editor-footer">
         @Html.Button(Resources.SYS.Global.Button_MaterialIn, "Url_Production_MaterialIn_FeedOrderMaster", new Dictionary<string, string>()
	{
	    {"type", "button"},
	    {"id", "btnMaterialIn"},
        {"needconfirm","true"},
        {"onclick","onSubmit()"}
	})
        </div>
    </fieldset>
   
    
    <div id="divFeedQtyDeatil" style="display: none;">
    </div>
}
