@model IEnumerable<com.Sconit.Entity.ORD.IpMaster>
<fieldset>
    @(Html.Telerik().Grid(Model)
                .Name("IpMasterGrid")
        .DataKeys(keys =>
        {
            keys.Add(p => p.IpNo);
        })
        .Columns(columns =>
        {
            columns.Bound(o => o.IpNo).ClientTemplate(Html.ActionLink("<#= IpNo #>", "AdjustEdit", "DistributionIpGap", new { IpNo = "<#= IpNo #>" }, null).ToString());
            columns.Bound(o => o.Flow);
            //columns.Bound(o => o.PartyFromName);
            //columns.Bound(o => o.PartyToName);
            //columns.Bound(o => o.ShipFromAddress);
            //columns.Bound(o => o.ShipToAddress);
            columns.Bound(o => o.ExternalIpNo);
            columns.Bound(o => o.IpMasterTypeDescription);
            columns.Bound(o => o.PartyFromName).ClientTemplate("<div title=<#=ShipFromAddress #>><#=PartyFromName #></div>");
            columns.Bound(o => o.PartyToName).ClientTemplate("<div title=<#=ShipToAddress #>><#=PartyToName #></div>");
            //columns.Bound(o => o.Dock);
            columns.Bound(o => o.IpMasterStatusDescription);
            columns.Bound(o => o.CreateUserName);
            columns.Bound(o => o.CreateDate);
        })
                .Scrollable(c => c.Enabled(false))
                        .DataBinding(dataBinding => dataBinding.Ajax().Select("_AdjustAjaxList", "DistributionIpGap"))
                .ClientEvents(events => events.OnDataBinding("IpMasterGrid_OnDataBinding"))
                .Pageable(settings =>
                {
                    settings.Total(ViewBag.Total == null ? 0 : ViewBag.Total);
                    settings.PageSize(ViewBag.PageSize );
                    if (ViewBag.Page != null)
                    {
                        settings.PageTo(ViewBag.Page);
                    }
                })
                .EnableCustomBinding(true)
                .Sortable()
                .Resizable(resizing => resizing.Columns(true))
            )
    <script type="text/javascript">
        function IpMasterGrid_OnDataBinding(e) {
            e.data = {
                IpNo: $('#IpNo').val(),
                Status: $('#Status').val(),
                PartyFrom: $('#PartyFrom').val(),
                PartyTo: $('#PartyTo').val(),
                StartDate: $('#StartDate').val(),
                EndDate: $('#EndDate').val(),
                IpOrderType: $("#IpOrderType").val(),
                ExternalIpNo: $("#ExternalIpNo").val(),
                Flow: $("#Flow").val(),
                CreateUserName: $("#CreateUserName").val(),
                IpDetailType: $("#IpDetailType").val()
            };
        }
    </script>
</fieldset>