@{
    Html.RenderAction("_SiteMapPath", "Common", new { MenuContent = "Url_Mrp_MrpPlanEx_Simulation" });
}
<script type="text/javascript">
    function onSearch() {
        if ($('#PlanVersion').val() == "") {
            $message.error('计划版本不能为空。');
            return;
        }
        var data = {
            planVersion: $('#PlanVersion').val()
        };
        $("#fdOrderDetail").html("Loading...");
        $.ajax({
            type: "get",
            dataType: "text",
            url: "/MrpPlanEx/_GetSimulationList/",
            data: data,
            cache: false,
            success: function (data, textStatus) {
                var tabStrip = $("#fdOrderDetail");
                $(tabStrip).html(data);
                $("#datatable").fixedtableheader({
                    headerrowsize: 2,
                    highlightrow: true
                });
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                DisplayTextMessages(XMLHttpRequest.responseText);
            }
        });
    }
</script>
@using (Html.BeginForm("ExportSimulation", "MrpPlanEx"))
{
    <fieldset>
        <div class="search">
            <div class="search-label">
                <label>
                    @Resources.MRP.MrpFiShiftPlan.MrpFiShiftPlan_PlanVersion
                </label>
            </div>
            <div class="search-field">
                @{
                    Html.RenderAction("_MrpPlanMasterComboBox", "Common", new
                     {
                         controlName = "PlanVersion",
                         isRelease = true,
                         resourceGroup = (int)com.Sconit.CodeMaster.ResourceGroup.EX,
                         isChange = true
                     });
                }
            </div>
            <div class="search-label">
                <label>
                    周
                </label>
            </div>
            <div class="search-field">
                @Html.TextBox("WeekRange","",new { disabled = "disabled" })
            </div>
        </div>
        <div class="editor-footer">
            @Html.Button(Resources.SYS.Global.Button_Search, "Url_Mrp_MrpPlanEx_Simulation", new Dictionary<string, string>()
	        {
	            {"type", "button"},
	            {"id", "btnSearch"},
                {"needconfirm","false"},
                {"onclick","onSearch()"},
	        })
        <button type="button" id="btnExport">@Resources.SYS.Global.Button_Export</button>
        </div>

    </fieldset>
   
    <div id="fdOrderDetail">
    </div>
}
<script type="text/javascript">
    function MrpPlanMaster_Change() {
        var combobox = $(this).data("tComboBox");
        if (combobox == undefined) {
            return;
        }
        if (combobox.selectedIndex == undefined || combobox.selectedIndex == -1) {
            combobox.value("");
            combobox.reload();
        } else {
            var Data = {
                planVersion: $('#PlanVersion').val()
            };
            $.ajax({
                type: "get",
                dataType: "html",
                url: "/MrpPlanEx/_GetWeekIndex/",
                data: Data,
                cache: false,
                success: function (data1) {
                    $('#WeekRange').val(data1);
                }
            });
        }
    }
    $('#btnExport').click(function () {
        if ($('#PlanVersion').val() == "") {
            $message.error('计划版本不能为空。');
            return;
        }
        $('form').submit();
    });  
</script>
 
