@model IEnumerable<com.Sconit.Entity.ISS.IssueType>
<fieldset>
     @(Html.Telerik().Grid(Model)
        .Name("IssueTypeGrid")
        .DataKeys(keys =>
        {
            keys.Add(p => p.Code);
        })
        .Columns(columns =>
        {
            columns.Bound(o => o.Code).ClientTemplate(Html.ActionLink("<#= Code #>", "Edit", "IssueType", new { ID = "<#= Code #>" }, null).ToString());
            columns.Bound(o => o.Description);
			columns.Bound(o => o.InProcessWaitingTime);
			columns.Bound(o => o.CompleteWaitingTime);
            columns.Bound(o => o.IsActive)
                .ClientTemplate("<input type='checkbox' disabled='disabled' name='IsActive' <#= IsActive? checked='checked' : '' #> />"); ;
        })
        .CellAction(cell =>
            {
                if (cell.Column.Member == "Code")
                {
                    cell.Text = string.Format("<a href=\"Edit/{0}\">{1}</a>", cell.DataItem.Code, cell.DataItem.Code);
                }
            })
        .Scrollable(c => c.Enabled(false))
        .EnableCustomBinding(true)
        .DataBinding(dataBinding => dataBinding.Ajax().Select("_AjaxList", "IssueType"))
        .ClientEvents(events => events.OnDataBinding("IssueTypeGrid_OnDataBinding"))
        .Pageable(settings => 
        {
            settings.Total(ViewBag.Total == null ? 0 : ViewBag.Total);
            settings.PageSize(ViewBag.PageSize);
        })
        .Sortable()
        .Resizable(resizing => resizing.Columns(true))
    )
    <script type="text/javascript">
        function IssueTypeGrid_OnDataBinding(e) {
            
            e.data = {
                Code: $('#Code').val(),
                Description: $('#Description').val(),
                IsActive: $('#IsActive').is(':checked')
            };
        } 
    </script>
</fieldset>
