USE [Sconit]
GO
/****** Object:  StoredProcedure [dbo].[USP_Busi_MRP_ScheduleFi]    Script Date: 12/08/2014 15:13:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		liqiuyun
-- Create date: 20130727
-- Description:	修正后加工细运算算法
-- =============================================
ALTER PROCEDURE [dbo].[USP_Busi_MRP_ScheduleFi]
(@SnapTime datetime,
@PlanVersion datetime
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

END
